.help-button {
  background-color: white;
  border: none;
  cursor: pointer;
  z-index: 1000;
  padding: 0.5rem;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}


.tips-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.help-button-container {
    display: flex;
    justify-content: end;
}

.tips-box p {
    color: var(--text-900);
    font-weight: 600;
}

