input, textarea, select, button {
    font: inherit;
    color: var(--text-900);
    background: var(--bg);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    outline: none;
    box-shadow: none;
    appearance: none;

}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 600;
}

input{
    height: 30px;
    padding: 0px 12px;
    margin-top: 6px;
}

textarea{
    height: 200px;
    margin-top: 6px;
    padding: 6px 12px;
    resize: vertical;
}

form {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: var(--radius);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button-box{
    display: flex;
    justify-content: center;
}

button {
    border-color: #4C9ED9;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover{
    background-color: #4C9ED9;
}

